* {
	font-size: 10pt;
	font-family: 'sans-serif','Helvetica','Arial';
}

code {
	font-family: 'monospace' !important;
}

table {
	width:auto; 
	border-collapse:collapse; 
	margin-bottom: 10px;
	margin-left: 10px; 
	border: 2px #888 solid;
}

th {
	background: #e0e0e0;
	border: 1px #888 solid; 
	color:#333;
	padding: 2px 5px 2px 5px;
}

td {
	padding: 2px 5px 2px 5px;
	border: 1px #888 solid; 
}

tr.summary {
	background: #f0f0f0;
}

h1 {
	font-size: 150%;
}

h2 {
	font-size: 116%;
	font-weight: bold;
}

h3 {
	font-size: 100%;
}

h4 {
	font-size: 100%;
}

h5 {
	font-size: 100%;
}